# Service Configuration
PORT=50051
SERVICE_NAME=account-service
SYSTEM_NAME=goakt-cluster
GOSSIP_PORT=8558
PEERS_PORT=2552
REMOTING_PORT=8080

# Etcd Configuration
ETCD_ENDPOINTS=localhost:2379
ETCD_DIAL_TIMEOUT=5
ETCD_TTL=30
ETCD_TIMEOUT=5